/* src/admin/components/RentalRecords.css */

.rental-container {
  padding: 20px;
}

.rental-container .rental-header {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-bottom: 20px;
}

.rental-container .rental-header h1 {
  font-size: 2em;
}

.rental-container .table-wrapper {
  overflow-x: auto;
}

.rental-container .rental-table {
  width: 100%;
  min-width: 800px;
  border-collapse: collapse;
}

.rental-container .rental-table th,
.rental-container .rental-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
  text-align: left;
  font-size: 14px;
  background-color: #fff;
}

.rental-container .rental-table th {
  background-color: #f2f2f2;
  font-size: 16px;
}

.rental-container .cell-text {
  visibility: visible;
}
.rental-container .main-row {
  cursor: pointer;
}

.rental-container .expanded-main-row td {
  background-color: #2196f3;
  color: #fff;
  font-weight: bold;
}
.rental-container .expanded-main-row td:not(:first-child) .cell-text {
  visibility: hidden;
}

.rental-container .expanded-row {
  background-color: #f9f9f9;
  outline: 3px solid #2196f3;
  outline-offset: -3px;
  padding: 15px;
}

.rental-container .detail-info-container {
  padding: 15px;
}

.rental-container .detail-item {
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
}

.rental-container .detail-item:last-child {
  border-bottom: none;
}

.rental-container .detail-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 4px;
}

.rental-container .detail-value {
  font-size: 14px;
}

.rental-container .detail-button:hover {
  background-color: #0b7dda;
}

.rental-container .pagination {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.rental-container .pagination button {
  padding: 6px 12px;
  background-color: #e7e7e7;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.rental-container .pagination button:hover:not(:disabled) {
  background-color: #d0d0d0;
}

.rental-container .pagination button:disabled {
  background-color: #cccccc;
  cursor: default;
}

.rental-container .error {
  color: red;
  margin-bottom: 10px;
}

.rental-container .open-video-button {
  border: none;
  padding: 8px;
  margin: 10px 12px 6px 0px;
  border-radius: 16px;
  color: white;
  background-color: goldenrod;
  cursor: pointer;
}