/* Header.css */

.header {
  display: flex;
  justify-content: right;
  align-items: center;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header .header-search {
  display: flex;
  align-items: center;
}

.header .header-search input {
  margin-left: 5px;
  padding: 5px 10px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px #65bbe6 solid;
  outline: none;
}
.header .header-search input::placeholder {
  font-size: 13px;
}

.header .header-search input:focus {
  border: 2px #65bbe6 solid;
  box-shadow: 0 0 5px rgba(101, 187, 230, 0.5);
}

.header .total-search-button {
  background-color: #65bbe6;
  color: white;
  border: none;
  padding: 8px;
  margin-left: 5px;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .total-search-button:hover {
  background-color: #549acb;
}

.header .header-left {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.header .header-right {
  display: flex;
  align-items: center;
  margin-right: 0px;
}

.header .icon {
  margin-left: 24px;
  font-size: 20px;
  cursor: pointer;
  color: #a0a0a0;
}

.header .profile {
  margin-left: 20px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.header .profile-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 10;
  border-top: rgba(160, 160, 160, 0.3) 1px solid;
}

.header .admin-logout-button {
  background: none;
  border: none;
  color: #333;
  font-size: 14px;
  cursor: pointer;
  margin: 6px 16px;
}

.header .profile-name {
  margin-right: 10px;
  font-weight: 600;
  font-size: 18px;
}

.header .profile-image {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 10px;
}

.header .header-left {
  border: 1px solid #bbc6d2;
  border-radius: 24px;
  display: flex;
  align-items: center;
  gap: 4px;
  width: 164px;
}

.header .token-expiry {
  /* margin-right: 5px; */
  min-width: 60px;
  margin-right: 10px;
  padding: 8px;
  font-size: 14px;
  color: #333;
  text-align: center;
}

.header .token-refresh-button {
  padding: 8px 10px;
  font-size: 14px;
  background-color: #bbc6d2;
  color: #fff;
  border: none;
  border-radius: 16px;
  cursor: pointer;
  flex-shrink: 0;
  transition: background-color 0.2s;
}

.header .token-refresh-button:disabled {
  background-color: #ff6666;
  cursor: not-allowed;
}